body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system, -apple-system, ".SFNSDisplay-Regular",
    "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  color: #363636;
}

button {
  &:disabled {
    opacity: 0.7;
  }

  &.primary {
    cursor: pointer;
    outline: none;
    border: 1px solid #0291BD;
    border-radius: 4px;
    padding: 0.5rem 0.8rem;
    margin: 0.1rem;
    background-color: #0291BD;
    color: #fff;

    &:hover:not(:disabled){
          border: 1px solid #fff;

    }
  }
}
